.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 184, 184, 0.227);
  width: 100vw;
  height: 100vh;
}
