.usersSection {
  margin-top: 50px;
  padding-bottom: 20px;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
.users {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.noUsers {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 26px;
  color: #ebd8ff;
}
.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  margin: 0 auto 20px auto;
  width: 196px;
  height: 50px;

  background: #5736a3;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 26px;
  color: #373737;

  transition: all ease 250ms;
  &:hover {
    background: #5cd3a8;
    border: solid 1px #ebd8ff;
    color: #5736a3;
    transform: scale(1.05);
    .btnText {
      color: #5736a3;
      transform: scale(1.1);
    }
  }
}
.btnText {
  color: #ebd8ff;
  transform: scale(1);
  transition: all ease-in-out 300ms;
}
.mainBG {
  background-image: url('../../img/backgroundHP.jpg');
  background-position: top 0 left 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: scroll;
}
