.dropdown {
  margin: 20px auto 20px auto;
  position: relative;
  font-weight: 600;
  font-size: 30px;
  line-height: 22px;
}
.control {
  display: flex;
}
.placeholder {
  cursor: pointer;
  margin: 0 auto;
  color: #40128b;
}
.menu {
  position: absolute;
  top: 150%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);

  background-color: #dd58d6;
  opacity: 0.9;
  display: flex;
  column-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.option {
  font-size: 25px;
  line-height: 22px;
  color: #ffe79b;
  border-radius: 13px;
  padding: 10px;
  background-color: transparent;
  transition: all ease 300ms;
  &:hover {
    color: #5cd3a8;
    background-color: #40128b;
  }
}
